<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
    <channel>
        <description>Market3W l'expert en web marketing</description>
        <link>http://www.market3w.fr</link>
        <title>Les dernières news de Market3W</title>
        {% for oneNews in news %}
            <item>
                <id>{{oneNews.id}}</id>
                <title>{{oneNews.title}}</title>
                <description>{{oneNews.description}}</description>
                <pubDate>{{oneNews.pubDate|date('D, d M Y h:i:s O')}}</pubDate>
                <dateStyle>{{oneNews.pubDate|date('d/m/Y')}}</dateStyle>
                <author>{{oneNews.author}}</author>
            </item>
        {% endfor %}
    </channel>
</rss>