<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
    <channel>
            <description>Market3W l'expert en web marketing</description>
            <link>http://www.market3w.fr</link>
            <title>Les dernières news de Market3W</title>
            <item>
                <title>{{news.title}}</title>
                <description>{{news.description}}</description>
                <author>{{news.author}}</author>
                <pubDate>{{oneNews.pubDate|date('D, d M Y h:i:s O')}}</pubDate>
                <guid>{{news.title}}</guid>
            </item>
    </channel>
</rss>
