{% extends 'Market3wSiteBundle::backendLayout.html.twig' %}

{% block content %}
<div class="fixed_content">
    <h1>Liste des clients</h1>
    <table class="table_client">
        <thead>
            <th> Type  </th>
            <th> {{ knp_pagination_sortable(clients, 'Société', 'c.company') }}Société  </th>
            <th> {{ knp_pagination_sortable(clients, 'Identité', 'c.lastName') }}Identité </th>
            <th> Email    </th>
            <th> Numéros de téléphone  </th>
            <th> Actions  </th>
        </thead>
        <tbody>
            {% for client in clients %}
                <tr>
                    <td> {{ client.readableRoles[0] }}                </td>
                    <td> {{ client.company.name }}                    </td>
                    <td> {{ client.firstName }} {{ client.lastName }} </td>
                    <td> {{ client.email }}                           </td>
                    <td> 
                        <span class="telephone"> Tél: {{ client.phoneNumber }}          </span>
                        {% if client.mobilePhoneNumber is not null %}
                            <br><br><span class="telephone"> Mobile: {{ client.mobilePhoneNumber }} </span>
                        {% endif %}
                    </td>
                    <td> 
                        <a href="{{ path( 'client_show', {'id':client.id} ) }}">                 Détail           </a>
                        <a href="{{ path('client_show_statistics', {'id': client.id}) }}">       Suivi marketing  </a>
                        <a href="{{ path('web_marketeur_billing_client', {'id': client.id}) }}"> Suivi commercial </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div class="navigation">
        {{ knp_pagination_render(clients) }}
    </div>
</div>
{% endblock %}