<table class="table_info">
    <thead>
        <th> Numéro      </th>
        <th> Date        </th>
        <th> Montant TTC </th>
        <th> Etat        </th>
        <th> Action      </th>
    </thead>
    <tbody>
        {% for estimate in estimates %}
            <tr>
                <td><span class="libelle_table">Numéro : </span> {{ estimate.id }}                        </td>
                <td><span class="libelle_table">Date : </span> {{ estimate.dateBilling|date("d/m/Y") }} </td>
                <td><span class="libelle_table">Montant TTC : </span> {{ estimate.calculateTotalTTC }} €       </td>
                <td><span class="libelle_table">Etat : </span> {{ estimate.status }}                    </td>
                <td><span class="libelle_table">Action : </span>
                    {% if view != 'client' %}
                        <a  class="intranet_button" href="{{ path( 'bill_show', {'idClient': estimate.client.id, 'idBill': estimate.id} ) }}"> Voir </a>
                    {% else %}
                        <a  class="intranet_button" href="{{ path( 'client_billing_show', {'id': estimate.id} ) }}"> Voir </a>
                    {% endif %}
                    {% if view != 'client' %}
                        <a class="intranet_button" href="{{ path( 'bill_edit',     {'idClient': estimate.client.id, 'idBill': estimate.id} ) }}"> Modifer </a>
                        {% if estimate.accepted == false %}
                            <a class="intranet_button" href="{{ path( 'bill_validate_estimate', {'idClient': estimate.client.id, 'idBill': estimate.id} ) }}"> Valider </a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

