<table class="table_info">
    <thead>
        <th> Numéro      </th>
        <th> Date        </th>
        <th> Montant TTC </th>
        <th> Etat        </th>
        <th> Action      </th>
    </thead>
    <tbody>
        {% for bill in bills %}
            <tr>
                <td><span class="libelle_table">Numéro : </span> {{ bill.id }}                        </td>
                <td><span class="libelle_table">Date : </span> {{ bill.dateBilling|date("d/m/Y") }} </td>
                <td><span class="libelle_table">Montant TTC : </span> {{ bill.calculateTotalTTC }} €       </td>
                <td><span class="libelle_table">Etat : </span> {{ bill.status }}                    </td>
                <td> <span class="libelle_table">Action : </span>
                    <a  class="intranet_button" href="{{ path('bill_show', {'idClient': bill.client.id, 'idBill': bill.id}) }}"> Voir </a>
                    
                    {% if view != 'client' %}
                        <a  class="intranet_button" href="{{ path('bill_edit', {'idClient': bill.client.id, 'idBill': bill.id}) }}"> Modifer </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

