{% extends 'Market3wSiteBundle::backendLayout.html.twig' %}

{% block content %}
    <div class="fixed_content">
        <div class="admin_form">
            {{ form_start(form) }}
            
            <div id="lines" data-prototype="{{ form_widget(form.lines.vars.prototype)|e }}">
                {% for line in form.lines %}
                    <div class="line">
                    <div>
                        {{ form_label(line.service)  }}
                        {{ form_errors(line.service) }}
                        {{ form_widget(line.service) }}
                    </div>
                    <div>
                        {{ form_label(line.nbHours)  }}
                        {{ form_errors(line.nbHours) }}
                        {{ form_widget(line.nbHours) }}h
                    </div>
                    </div>
                {% endfor %}
            </div>
                
            <div>
                {{ form_label(form.discount)  }}
                {{ form_errors(form.discount) }}
                {{ form_widget(form.discount) }}%
            </div>
            
            {{ form_row(form._token) }}
            
            <input class="submit" type="submit" />
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts 
        'bundles/market3wsite/js/billForm.js'
        output='billForm.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}