{% extends 'Market3wSiteBundle::backendLayout.html.twig' %}

{% block content %}
    <div class="fixed_content">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <p>Référence : {{ bill.id }}</p>
        <p>Etat : {{ bill.status }}</p>
        {% for line in bill.lines %}
            <div class="line">
                <div class="service">{{ line.service }}</div>
                <div class="hours">{{ line.nbHours }}h</div>
                <div class="price">{{ line.price }}€/h</div>
            </div>
        {% endfor %}
        
        <div class="totalHt">
            Total HT{{ bill.calculateTotalHT }}€
        </div>
        
        <div class="tva">
            TVA {{ bill.tva }}% 
        </div>
        
        <div class="totalTtc">
            Total TTC {{ bill.calculateTotalTtc }}€
        </div>
        
        {% if bill.type.name == 'Devis' and  bill.status.name == 'En attente de réponse' or 
              bill.type.name == 'Facture' and  bill.status.name != 'Payée'
        %}
            <a class="intranet_button" href="{{ path('bill_edit', {'idClient': idClient, 'idBill' : bill.id}) }}">Editer</a>
        {% endif %}
        
        {% if bill.type.name == 'Devis' and bill.status.name == 'Accepté' %}
            <a class="intranet_button" href="{{ path('bill_estimate_to_bill', {'idClient': idClient, 'idBill' : bill.id}) }}">Générer la facture</a>
        {% endif %}
    </div> 
{% endblock %}
