{% extends 'Market3wSiteBundle::layout.html.twig' %}

{% block content %}
    <p>{{ project.name }}</p>
    <p>{{ project.presentation }}</p>
    <p>{{ project.url }}</p>
    <p>{{ project.duty }}</p>
    <p>{{ project.work }}</p>
    <p>{{ project.screenshot }}</p>
{% endblock %}