{% extends 'Market3wSiteBundle::layout.html.twig' %}

{% block content %}
<div>
	<div class="fixed_content">
	    <h1>{{ project.name }}</h1>
	    <p>{{ project.presentation }}</p>
	    <p>{{ project.url }}</p>
	    <p>{{ project.duty }}</p>
	    <p>{{ project.work }}</p>
	    <p>{{ project.screenshot }}</p>
	</div>
</div>
{% endblock %}