{% extends 'Market3wSiteBundle::adminIntranetLayout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 
        'bundles/market3wsite/css/jquery-ui.min.css'
        'bundles/market3wsite/css/jquery-ui.structure.min.css' 
        output='jquery-ui.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 
        'bundles/market3wsite/js/jquery-ui-1.11.0-custom.min.js'
        'bundles/market3wsite/js/appointment.js'
        output='appointment.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
        {{ form_errors(form) }}

        <div>
            {{ form_label(form.subject) }}
            {{ form_errors(form.subject) }}
            {{ form_widget(form.subject) }}
        </div>

        <div>
            {{ form_label(form.type) }}
            {{ form_errors(form.type) }}
            {{ form_widget(form.type) }}
        </div>

        <div>
            {{ form_errors(form.address) }}
            {{ form_widget(form.address) }}
        </div>

        <div id="skype">
            {{ form_label(form.skype) }}
            {{ form_errors(form.skype) }}
            {{ form_widget(form.skype) }}
        </div>

        <div>
            {{ form_errors(form.date) }}
            {{ form_widget(form.date) }}
        </div>

        <div>
            {{ form_errors(form.hour) }}
            {{ form_widget(form.hour) }}
        </div>

        <input type="submit" />

    {{ form_end(form) }}
{% endblock %}