{% extends 'Market3wSiteBundle::backendLayout.html.twig' %}

{% block content %}
<div class="show_agenda_content">
    <div class="fixed_content">
        <a href="{{ path( 'agenda_index') }}" class="profile_button">Retour</a>
        <a href="{{ path('agenda_edit_appointment', {'id':appointment.id}) }}">Modifer</a>
        {% if appointment.confirmed == false %}
            <a href="{{ path('agenda_confirm_appointment', {'id':appointment.id}) }}">Confirmer</a>
        {% endif %}

        <h1>Objet du rendez-vous</h1>
        <p>{{ appointment.subject }}</p>
        
        <h1>Identité du prospect</h1>
        <p>Le rendez-vous a été pris par : {{ appointment.prospect.firstName }} {{ appointment.prospect.lastName }}</p>
        <p>De la société : {{ appointment.prospect.company }}</p>
        
        {% if appointment.prospect.phoneNumber is not null %}
            <p>Numéro de téléphone : {{ appointment.prospect.phoneNumber }}</p>
        {% endif %}
        {% if appointment.prospect.mobilePhoneNumber is not null %}
            <p>Numéro de téléphone : {{ appointment.prospect.mobilePhoneNumber }}</p>
        {% endif %}
        
        <h1>Modalité du rendez-vous</h1>
        <p>Le {{ appointment.date|date("m/d/Y") }} à {{ appointment.hour|date("H:i") }}</p>
        
        {% if appointment.type.id == 2 %}
            <p>Pseudo skype du prospect : {{ appointment.prospect.skypePseudo }}</p>
            {% include 'Market3wSiteBundle:Intranet/Agenda:_skypeCallButton.html.twig' with {'pseudo' : appointment.prospect.skypePseudo} %}
        {% elseif  appointment.type.id == 1 %}
            <p>Sur place : 
                {{ appointment.address.firstLine }}
                {% if appointment.address.secondLine is not null %}
                    <p>{{ appointment.address.secondLine }}</p> 
                {% endif %}
                 {% if appointment.address.thirdLine is not null %}
                    <p>{{ appointment.address.thirdLine }}</p> 
                {% endif %}
                <p>{{ appointment.address.city }} {{ appointment.address.zipcode }}</p>
                <p>{{ appointment.address.country }}</p>
            </p>
            {% include 'Market3wSiteBundle:Intranet/Agenda:_mapDirectionLink.html.twig' with {'address' : appointment.address} %}
        {% endif %}
    </div>
</div>

{% endblock %}
