{% extends 'Market3wSiteBundle::backendLayout.html.twig' %}

{% block content %}
    <input id="ajax_url" type="hidden" value="{{ path('client_get_statistics', {'id':clientId}) }}"></input>
    
    {% if is_granted('ROLE_MARKETEUR') %}
        {{ include('Market3wSiteBundle:Intranet/Statistics:dates.html.twig', {'dates': dates}) }}
    {% endif %}
    
    <div id="statistics-charts" class="fixed_content">
        <div class="chart-uniqueVisitors container">
            <h1>Nombres de visiteurs uniques</h1>
            <canvas id="chart-uniqueVisitors" height="300" width="960"></canvas>
        </div>
        <div class="chart-rank container">
            <h1>Classement dans les moteurs de recherche</h1>
            <canvas id="chart-rank" height="300" width="960"></canvas>
        </div>
        <div class="chart-nbViewedPages container">
            <h1>Nombres de pages vues</h1>
            <canvas id="chart-nbViewedPages" height="300" width="960"></canvas>
        </div>
        <div class="chart-reboundTime container">
            <h1>Taux de rebond</h1>
            <canvas id="chart-reboundTime" height="300" width="960"></canvas>
        </div>
        <div class="keywords container">
            <h1>Mots clés</h1>
            <div id="keywords"></div>
        </div>
        <div class="topPages container">
            <h1>Top pages</h1>
            <div id="topViewedPage"></div>
        </div>
    </div>
    
    {% if is_granted('ROLE_MARKETEUR') %}
        {{ include('Market3wSiteBundle:Intranet/Statistics:dates.html.twig', {'dates': dates}) }}
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts 
        'bundles/market3wsite/js/Chart.min.js'
        'bundles/market3wsite/js/statistic.js'
        output='seoStatisticClient.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}