<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Market3w{% endblock %}</title>
        {% block meta %}{% endblock %}
        
        {% block stylesheets %}
            {% stylesheets 
            'bundles/market3wsite/css/common.css'
            'bundles/market3wsite/css/admin.css' 
            output='css/market3w_backend.css' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        {% include 'Market3wSiteBundle::_loginLogout.html.twig' %}
        <header>
            <div class="fixed_content">
                <div class="nav_content">
                    <span class="logo_header">INTRANET</span>
                    {% block nav %}
                        {% if is_granted("ROLE_WEB_MARKETEUR") %}
                            {% include 'Market3wSiteBundle:Intranet/WebMarketeur:_wmMenu.html.twig' %}
                        {% elseif is_granted("ROLE_COMMUNITY_MANAGER") %}
                            {% set intranet_home =  path('intranet_news_index') %}
                        {% endif %} 
                    {% endblock %}
                </div>
            </div>
        </header>
        
        {% block content %}
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        {% endblock %}
        
        <footer>
            <div class="fixed_content">
                <h2>Plan du site</h2>
                <!-- <ul>
                    <li><a href="{{ path('market3w_site_legalinfo_legalnotice') }}">Mentions légales</a></li>
                    <li><a href="{{ path('market3w_site_legalinfo_cgu') }}">CGU</a></li>
                </ul> -->
                <div class="bloc_footer_content">
                    <div class="bloc_footer">
                        <h3>Société</h3>
                        <ul>
                            <li><a href="{{ path('market3w_site_us_index') }}#about">Présentation</a></li>
                            <li><a href="{{ path('market3w_site_us_index') }}#equipe">Equipe</a></li>
                            <li><a href="{{ path('market3w_site_ourwork_index') }}">Réalisations</a></li>
                            <li><a href="{{ path('market3w_site_legalinfo_legalnotice') }}">Mentions Légales</a></li>
                            <li><a href="{{ path('market3w_site_legalinfo_cgu') }}">CGU</a></li>
                        </ul>
                    </div>
                    <div class="bloc_footer">
                        <h3>Expertise</h3>
                        <ul>
                            <li><a href="{{ path('market3w_site_skill_index') }}#referencement">Référencement naturel</a></li>
                            <li><a href="{{ path('market3w_site_skill_index') }}#etude_marketing">Etude marketing</a></li>
                            <li><a href="{{ path('market3w_site_skill_index') }}#ecommerce">Spécialiste e-commerce</a></li>
                            <li><a href="{{ path('market3w_site_skill_index') }}#marketing_mobile">Marketng mobile</a></li>
                        </ul>
                    </div>
                    <div class="bloc_footer">
                        <h3>Contact</h3>
                        <ul>
                            <li><a href="{{ path('market3w_site_contact_index') }}">Prendre un rendez-vous</a></li>
                            <br>
                            <li>
                                Où nous trouver :<br>
                                <em>Market3W<br>
                                12 rue Rambouillet<br>
                                75012 Paris<br></em>
                            </li>
                            <br>
                            <li>
                                Nous écrire :<br>
                                <em>contact@market3w.com</em>
                            </li>
                        </ul>
                    </div>
                    <div class="bloc_footer">
                        <h3>Notre application</h3>
                        <ul>
                            <li>
                                <a href="https://itunes.apple.com/fr/genre/ios/id36?mt=8">
                                    <img style="margin:5px;"alt="Télécharger sur l'appstore" src="{{ asset('bundles/market3wsite/images/applis/appstore.svg') }}" />
                                </a>
                            </li>
                            <li>
                                <a href="https://play.google.com/store/search?q=pub:Market3W">
                                    <img style="width:140px;" alt="Disponible sur Google Play" src="{{ asset('bundles/market3wsite/images/applis/googleplay.svg') }}" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="follow_content">
                    <ul>
                        <li><a href="https://fr-fr.facebook.com/" target="_blank" class="facebook"></a></li>
                        <li><a href="https://twitter.com/" target="_blank" class="twitter"></a></li>
                        <li><a href="https://plus.google.com/" target="_blank" class="googleplus"></a></li>
                        <li><a href="https://fr.linkedin.com/" target="_blank" class="linkedin"></a></li>
                    </ul>
                </div>
            </div>
        </footer>


        {% block javascripts %}
            {% javascripts 'bundles/market3wsite/js/jquery-1.11.1.min.js' 
                'bundles/market3wsite/js/common.js' 
                'bundles/market3wsite/js/SmoothScroll.js'
                output='js/market3w_backend.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

        <div class="copyright">© Copyright 2014 | Market3W</div>

    </body>
</html>
