<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Market3w{% endblock %}</title>
        {% block meta %}{% endblock %}
        
        {% block stylesheets %}
            {% stylesheets 'bundles/market3wsite/css/main.css' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}
        {% block javascripts %}
            {% javascripts 'bundles/market3wsite/js/jquery-1.11.1.min.js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </head>
    <body>
        <header>
            <div>LOGO</div>
            <nav>
                <ul>
                    <li><a href="{{ path('market3w_site_homepage_index') }}">Accueil</a></li>
                    <li><a href="{{ path('market3w_site_skill_index') }}">Notre expertise</a></li>
                    <li><a href="{{ path('market3w_site_ourwork_index') }}">Réalisations</a></li>
                    <li><a href="{{ path('market3w_site_us_index') }}">Société</a></li>
                    <li><a href="{{ path('market3w_site_contact_index') }}">Contact</a></li>
                </ul>
            </nav>
            <div>
                <div>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}
                </div>

                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <div>
                    {% block fos_user_content %}
                    {% endblock fos_user_content %}
                </div>
            </div>
        </header>
        
        <hr>
                      
        {% block content %}
            
        {% endblock %}
        
        <hr>
        
        <footer>
            <ul>
                <li><a href="{{ path('market3w_site_legalinfo_legalnotice') }}">Mentions légales</a></li>
                <li><a href="{{ path('market3w_site_legalinfo_cgu') }}">CGU</a></li>
            </ul>
        </footer>
        
        {% block javascript %}{% endblock %}
    </body>
</html>
