<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %} Market3w {% endblock %}</title>
        {% block meta %}{% endblock %}
        
        {% block stylesheets %}
            {% stylesheets 
            'bundles/market3wsite/css/main.css' 
            'bundles/market3wsite/css/common.css' 
            output='css/market3w.css' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        <div class="login_field">
            <div class="fixed_content">
                <div class="login_button">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {% if is_granted("ROLE_ADMIN") %}
                            <a href="{{ path('market3w_site_admin_index') }}">Admin</a>
                        {% elseif is_granted("ROLE_WEB_MARKETEUR") %}
                            <a href="{{ path('clients_index') }}">Mes clients</a>
                        {% elseif is_granted("ROLE_COMMUNITY_MANAGER") %}
                            <a href="{{ path( 'intranet_news_index') }}">Gérer le flux</a>
                        {% elseif is_granted("ROLE_PROSPECT") or is_granted("ROLE_CLIENT") %}
                            <a href="{{ path('fos_user_profile_show') }}">Mon compte</a>
                        {% endif %}
                        |
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}
                </div>

                
            </div>
        </div>
        <header>
            <div class="fixed_content">
                <div class="nav_content">
                    <a href="{{ path('market3w_site_homepage_index') }}" class="logo_header">Market<span class="logo_end">3W</span></a>
                    <nav>
                        
                        
                        <ul>
                            <li>
                                <a href="{{ path('market3w_site_homepage_index') }}" {% if app.request.attributes.get('_route') == 'market3w_site_homepage_index' %} class="current" {% endif %}> 
                                    Accueil      
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('market3w_site_skill_index') }}" {% if app.request.attributes.get('_route') == 'market3w_site_skill_index' %} class="current" {% endif %}> 
                                    Expertise    
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('market3w_site_ourwork_index') }}" {% if app.request.attributes.get('_route') == 'market3w_site_ourwork_index' %} class="current" {% endif %}> 
                                    Réalisations 
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('market3w_site_us_index') }}" {% if app.request.attributes.get('_route') == 'market3w_site_us_index' %} class="current" {% endif %}> 
                                    Société      
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('market3w_site_contact_index') }}" {% if app.request.attributes.get('_route') == 'market3w_site_contact_index' %} class="current" {% endif %}> 
                                    Contact
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
                              
        {% block content %}
            {% block fos_user_content %}

            {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="fixed_content">
                            <div class="flash-{{ type }}">
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}

            {% endblock fos_user_content %}
        {% endblock %}
                
        <footer>
            <div class="fixed_content">
                <h2>Plan du site</h2>
                <ul>
                    <li><a href="{{ path('market3w_site_legalinfo_legalnotice') }}">Mentions légales</a></li>
                    <li><a href="{{ path('market3w_site_legalinfo_cgu') }}">CGU</a></li>
                </ul>
            </div>
        </footer>
        <div class="copyright">© Copyright 2014 | Market3W</div>
        {% block javascripts %}
            {% javascripts 
                'bundles/market3wsite/js/jquery-1.11.1.min.js'
                'bundles/market3wsite/js/common.js' 
                'bundles/market3wsite/js/SmoothScroll.js'
                output='js/market3w.js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
