<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="Market3w spécialiste du webmarketing à Paris : e-commerce, webmarketing, référencement, audit mobile" />
        <title>{% block title %} Market3w {% endblock %}</title>
        {% block meta %}{% endblock %}
        
        {% block stylesheets %}
            {% stylesheets 
            'bundles/market3wsite/css/main.css' 
            'bundles/market3wsite/css/common.css' 
            'bundles/market3wsite/css/jquery-ui.min.css'
            'bundles/market3wsite/css/jquery-ui.structure.min.css'
            output='css/market3w.css' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        {% include 'Market3wSiteBundle::_loginLogout.html.twig' %}
        <header>
            <div class="fixed_content">
                <div class="nav_content">
                    <a href="{{ path('market3w_site_homepage_index') }}" class="logo_header">Market<span class="logo_end">3W</span></a>
                    <nav>
                        
                        
                        <ul>
                            <li>
                                <a href="{{ path('market3w_site_homepage_index') }}" {% if app.request.attributes.get('_route') == 'market3w_site_homepage_index' %} class="current" {% endif %}> 
                                    Accueil      
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('market3w_site_skill_index') }}" {% if app.request.attributes.get('_route') == 'market3w_site_skill_index' %} class="current" {% endif %}> 
                                    Expertise    
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('market3w_site_ourwork_index') }}" {% if app.request.attributes.get('_route') == 'market3w_site_ourwork_index' %} class="current" {% endif %}> 
                                    Réalisations 
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('market3w_site_us_index') }}" {% if app.request.attributes.get('_route') == 'market3w_site_us_index' %} class="current" {% endif %}> 
                                    Société      
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('market3w_site_contact_index') }}" {% if app.request.attributes.get('_route') == 'market3w_site_contact_index' %} class="current" {% endif %}> 
                                    Prendre rendez-vous
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
                              
        {% block content %}
            {% block fos_user_content %}

            {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="fixed_content">
                            <div class="flash-{{ type }}">
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}

            {% endblock fos_user_content %}
        {% endblock %}
                
        <footer>
            <div class="fixed_content">
                <h2>Plan du site</h2>
                <!-- <ul>
                    <li><a href="{{ path('market3w_site_legalinfo_legalnotice') }}">Mentions légales</a></li>
                    <li><a href="{{ path('market3w_site_legalinfo_cgu') }}">CGU</a></li>
                </ul> -->
                <div class="bloc_footer_content">
                    <div class="bloc_footer">
                        <h3>Société</h3>
                        <ul>
                            <li><a href="{{ path('market3w_site_us_index') }}#about">Présentation</a></li>
                            <li><a href="{{ path('market3w_site_us_index') }}#equipe">Equipe</a></li>
                            <li><a href="{{ path('market3w_site_ourwork_index') }}">Réalisations</a></li>
                            <li><a href="{{ path('market3w_site_legalinfo_legalnotice') }}">Mentions Légales</a></li>
                            <li><a href="{{ path('market3w_site_legalinfo_cgu') }}">CGU</a></li>
                        </ul>
                    </div>
                    <div class="bloc_footer">
                        <h3>Expertise</h3>
                        <ul>
                            <li><a href="{{ path('market3w_site_skill_index') }}#referencement">Référencement naturel</a></li>
                            <li><a href="{{ path('market3w_site_skill_index') }}#etude_marketing">Etude marketing</a></li>
                            <li><a href="{{ path('market3w_site_skill_index') }}#ecommerce">Spécialiste e-commerce</a></li>
                            <li><a href="{{ path('market3w_site_skill_index') }}#marketing_mobile">Marketng mobile</a></li>
                        </ul>
                    </div>
                    <div class="bloc_footer">
                        <h3>Contact</h3>
                        <ul>
                            <li><a href="{{ path('market3w_site_contact_index') }}">Prendre un rendez-vous</a></li>
                            <br>
                            <li>
                                Où nous trouver :<br>
                                <em>Market3W<br>
                                12 rue Rambouillet<br>
                                75012 Paris<br></em>
                            </li>
                            <br>
                            <li>
                                Nous écrire :<br>
                                <em>contact@market3w.com</em>
                            </li>
                        </ul>
                    </div>
                    <div class="bloc_footer">
                        <h3>Notre application</h3>
                        <ul>
                            <li>
                                <a href="https://itunes.apple.com/fr/genre/ios/id36?mt=8">
                                    <img style="margin:5px;"alt="Télécharger sur l'appstore" src="{{ asset('bundles/market3wsite/images/applis/appstore.svg') }}" />
                                </a>
                            </li>
                            <li>
                                <a href="https://play.google.com/store/search?q=pub:Market3W">
                                    <img style="width:140px;" alt="Disponible sur Google Play" src="{{ asset('bundles/market3wsite/images/applis/googleplay.svg') }}" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="follow_content">
                    <ul>
                        <li><a href="https://fr-fr.facebook.com/" target="_blank" class="facebook"></a></li>
                        <li><a href="https://twitter.com/" target="_blank" class="twitter"></a></li>
                        <li><a href="https://plus.google.com/" target="_blank" class="googleplus"></a></li>
                        <li><a href="https://fr.linkedin.com/" target="_blank" class="linkedin"></a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <div class="copyright">© Copyright 2014 | Market3W</div>
        {% block javascripts %}
            {% javascripts 
                'bundles/market3wsite/js/jquery-1.11.1.min.js'
                'bundles/market3wsite/js/common.js' 
                'bundles/market3wsite/js/homepage_slider.js'
                'bundles/market3wsite/js/responsiveslides.min.js'
                'bundles/market3wsite/js/SmoothScroll.js'
                output='js/market3w.js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
