<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Market3w{% endblock %}</title>
        {% block meta %}{% endblock %}
        
        {% block stylesheets %}
            {% stylesheets 'bundles/market3wsite/css/main.css' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}
        {% block javascripts %}
            {% javascripts 'bundles/market3wsite/js/jquery-1.11.1.min.js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </head>
    <body>
        <header>
            <div>LOGO</div>
            <nav>
                <ul>
                    <li><a href="{{ path('market3w_site_homepage_index') }}">Accueil</a></li>
                    <li><a href="{{ path('market3w_site_skill_index') }}">Notre expertise</a></li>
                    <li><a href="{{ path('market3w_site_ourwork_index') }}">Réalisations</a></li>
                    <li><a href="{{ path('market3w_site_us_index') }}">Société</a></li>
                    <li><a href="{{ path('market3w_site_contact_index') }}">Contact</a></li>
                </ul>
            </nav>
            <div>
                {{ render(controller('FOSUserBundle:Security:login')) }}
            </div>
        </header>
                      
        {% block content %}
            
        {% endblock %}
        <footer></footer>
        
        {% block javascript %}{% endblock %}
    </body>
</html>
