{% trans_default_domain 'FOSUserBundle' %}
<div class="fixed_content">
    <a class="profile_button" href="{{ path('fos_user_profile_show') }}">Retour</a>
</div>
<div class="inscription_field">
<div class="fixed_content">
    <div class="user-info">
        <h1>Vous</h1>
        <div class="inscription_content">
            <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">

                <div class="inscription_item">
                    {{ form_label(form.username) }}
                    {{ form_errors(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
                <div class="inscription_item">
                    {{ form_label(form.email) }}
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
                <div class="inscription_item">
                    {{ form_label(form.firstName) }}
                    {{ form_errors(form.firstName) }}
                    {{ form_widget(form.firstName) }}
                </div>
                <div class="inscription_item">
                    {{ form_label(form.lastName) }}
                    {{ form_errors(form.lastName) }}
                    {{ form_widget(form.lastName) }}
                </div>
                <div class="inscription_item">
                    {{ form_label(form.phoneNumber) }}
                    {{ form_errors(form.phoneNumber) }}
                    {{ form_widget(form.phoneNumber) }}
                </div>
                <div class="inscription_item">
                    {{ form_label(form.mobilePhoneNumber) }}
                    {{ form_errors(form.mobilePhoneNumber) }}
                    {{ form_widget(form.mobilePhoneNumber) }}
                </div>
            </div>
        </div>
        <div class="company-info">
            <h1>Votre société</h1>
            <div class="inscription_content">
                <div class="inscription_item">
                    {{ form_label(form.company.name)  }}
                    {{ form_errors(form.company.name) }}
                    {{ form_widget(form.company.name) }}
                </div>
                <div class="inscription_item">
                    {{ form_label(form.company.siret)  }}
                    {{ form_errors(form.company.siret) }}
                    {{ form_widget(form.company.siret) }}
                </div>
                <div class="inscription_item">
                    {{ form_label(form.company.address.firstLine)  }}
                    {{ form_errors(form.company.address.firstLine) }}
                    {{ form_widget(form.company.address.firstLine) }}
                </div>
                <div class="inscription_item">
                    {{ form_label(form.company.address.secondLine)  }}
                    {{ form_errors(form.company.address.secondLine) }}
                    {{ form_widget(form.company.address.secondLine) }}
                </div>
                <div class="inscription_item">
                    {{ form_label(form.company.address.thirdLine)  }}
                    {{ form_errors(form.company.address.thirdLine) }}
                    {{ form_widget(form.company.address.thirdLine) }}
                </div>
                <div class="inscription_item">
                    {{ form_label(form.company.address.city)  }}
                    {{ form_errors(form.company.address.city) }}
                    {{ form_widget(form.company.address.city) }}
                </div>
                <div class="inscription_item">
                    {{ form_label(form.company.address.zipcode)  }}
                    {{ form_errors(form.company.address.zipcode) }}
                    {{ form_widget(form.company.address.zipcode) }}
                </div>
                <div class="inscription_item">
                    {{ form_label(form.company.address.country)  }}
                    {{ form_errors(form.company.address.country) }}
                    {{ form_widget(form.company.address.country) }}
                </div>
                <div class="inscription_item">
                    {{ form_label(form.current_password)  }}
                    {{ form_errors(form.current_password) }}
                    {{ form_widget(form.current_password) }}
                </div>
            </div>
        </div>
        {{ form_row(form._token) }}
        <br>
        <div>
            <input class="submit" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
        </div>
    </form>
    <br>
</div>
</div>