{% trans_default_domain 'FOSUserBundle' %}
<div class="fixed_content">
    <br>
        <div>
            <a class="profile_button" href="{{ path('fos_user_profile_edit') }}">Modifier vos informations</a>
        </div>
        
        {% if is_granted("ROLE_CLIENT") %}
            <div>
                <a class="profile_button" href="{{ path('market3w_site_client_seo') }}">Référencement</a>
            </div>
        {% endif %}
        <div>
            <a class="profile_button" href="{{ path('market3w_site_client_billing') }}">Facturation</a>
        </div>
        
	<div class="fos_user_user_show">
            <h1>Moi</h1>
	    <p> <strong>{{ 'profile.show.username'|trans          }} :</strong> {{ user.username          }} </p>
	    <p> <strong>{{ 'profile.show.email'|trans             }} :</strong> {{ user.email             }} </p>
	    <p> <strong>{{ 'profile.show.firstName'|trans         }} :</strong> {{ user.firstName         }} </p>
	    <p> <strong>{{ 'profile.show.lastName'|trans          }} :</strong> {{ user.lastName          }} </p>
	    <p> <strong>{{ 'profile.show.phoneNumber'|trans       }} :</strong> {{ user.phoneNumber       }} </p>
	    <p> <strong>{{ 'profile.show.mobilePhoneNumber'|trans }} :</strong> {{ user.mobilePhoneNumber }} </p>
	</div>
        <div class="user_company_show">
            <h1>Ma société</h1>
            <p> <strong>Nom :</strong>   {{ user.company.name }}  </p>
            <p> <strong>SIRET :</strong> {{ user.company.siret }} </p>
            <p> <strong>Adresse : </strong>
                {{ user.company.address.firstLine  }}
                {% if user.company.address.secondLine is not null %}
                    {{ user.company.address.secondLine }}
                {% endif %}
                {% if user.company.address.thirdLine is not null %}
                    {{ user.company.address.thirdLine  }}
                {% endif %}
                {{ user.company.address.zipcode    }}
                {{ user.company.address.country    }}
            </p>
        </div>
        <br>
</div>