{% trans_default_domain 'FOSUserBundle' %}
<div class="fixed_content">
        <div>
            <a href="{{ path('fos_user_profile_edit') }}">Modifier vos informations</a>
        </div>
        
        <div>
            <a href="{{ path('market3w_site_client_seo') }}">Suivre mon référencement</a>
        </div>
        <div>
            <a href="{{ path('market3w_site_client_billing') }}">Mes factures</a>
        </div>
        
	<div class="fos_user_user_show">
            <h1>Moi</h1>
	    <p> {{ 'profile.show.username'|trans          }} : {{ user.username          }} </p>
	    <p> {{ 'profile.show.email'|trans             }} : {{ user.email             }} </p>
	    <p> {{ 'profile.show.firstName'|trans         }} : {{ user.firstName         }} </p>
	    <p> {{ 'profile.show.lastName'|trans          }} : {{ user.lastName          }} </p>
	    <p> {{ 'profile.show.phoneNumber'|trans       }} : {{ user.phoneNumber       }} </p>
	    <p> {{ 'profile.show.mobilePhoneNumber'|trans }} : {{ user.mobilePhoneNumber }} </p>
	</div>
        <div class="user_company_show">
            <h1>Ma société</h1>
            <p> Nom :   {{ user.company.name }}  </p>
            <p> SIRET : {{ user.company.siret }} </p>
            <p> Adresse : 
                {{ user.company.address.firstLine  }}
                {% if user.company.address.secondLine is not null %}
                    {{ user.company.address.secondLine }}
                {% endif %}
                {% if user.company.address.thirdLine is not null %}
                    {{ user.company.address.thirdLine  }}
                {% endif %}
                {{ user.company.address.zipcode    }}
                {{ user.company.address.country    }}
            </p>
        </div>
</div>